body {
    margin: 20px;
}

.doggos {
    padding-top: 20px;
}

.btn {
    margin-right: 20px;
}

div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    display: flex;
    border-radius: 2%;
    border: solid 3px aquamarine;
    width: 32%;
    height: fit-content;
    margin-bottom: 10px;
}